psutil
python-toon
langchain 
langchain-core 
langchain-community 
langchain-text-splitters
langchain-chroma 
chromadb
fastapi 
uvicorn
pypdf 
beautifulsoup4 
requests
evaluation
ragas 
datasets
langchain-ollama